*{
    background-color: lightpink; 

}
table {
    background-color: black;
    border-color:palevioletred ;
    background-size: 50;
    border: width 50px; ;  
  
} 

link{
    color: black;
}