*{
    background-color: lightpink;
}

.house{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.summer{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.rachel{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.familiar{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.funny{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

   

