*{
    background-color: lightpink;
}

.sarah{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.colleen{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}
.stephen{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.taylor{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.emily{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.christina{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.leigh{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.rebecca{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.kristin{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.tessa{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}



