*{
    background-color: lightpink;
}

.wing{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.happy{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.flame{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ;    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.housemaid{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.light{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.true{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.divine{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.beautiful{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.love{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}

.yellowface{
    border: 5px solid black ;
    background-size: 200px 200px;
    margin :10px  ; 
}




