*{
    background-color: lightpink; 

}


.throne{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.prince{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.crescent{ 
     border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.fourth{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.caraval{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.archer{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.fault{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.sam {
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.royal{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.agggtm{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.secret{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.silent{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.shadow{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.unladylike{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.orient {
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.percy{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.golden{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;
}

.legend{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.achilles{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.prison{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
} 

.women{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.prejudice{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.journey{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.castle{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ; 
}

.wallflower{
    border: 10px solid palevioletred;
    background-size: 200px 200px;
    margin :10px  ;  
}


